.header {
  height: 80px;
  width: 100%;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--light-gray-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-img {
  width: 8rem;
}

.title {
  font-size: 2rem;
  color: var(--lilac-color);
}

.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  font-size: 2.6rem;
  color: var(--dark-green-color);
  cursor: pointer;
  transition: transform 0.2s;
}

.header-icon:hover {
  transform: scale(1.1);
}

.toggle-mode {
  background: none;
  border: none;
  padding: 0;
}

