:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --gray-color: #4E4E4E;
  --light-gray-color: #C8C8C8;
  --form-gray-color: #D9D9D9;
  --lilac-color: #8474A1;
  --light-lilac-color: #C8C1D4;
  --sat-lilac-color: #7D64AC;
  --dark-purple-color: #383560;
  --sat-dark-purple-color: #5B4584;
  --sat-purple-color: #6D52B4;
  --pink-color: #B383C4;
  --sat-pink-color: #A87CB8;
  --green-color: #86B6A3;
  --dark-green-color: #58917A;
  --light-green-color: #C1D5CD;
  --sat-green-color: #67BA99;
  --dark-teal-color: #045A5C;
  --green-btn: linear-gradient(90deg, #86B6A3, #045A5C);
  --teal-color: #54969A;
  --sat-teal-color: #08979D;
  --link-blue-color: #1E76E8;
  --purple-btn: linear-gradient(90deg, #7D64AC, #5B4584);
  --bg-gradient: linear-gradient(166deg, #8474A1, #86B6A3);
  --on-page-link: rgba(91, 69, 132, 36%);
  --red-error-color: #FF4D4D;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  min-height: 100vh;
  font-family: 'Poppins';
  background: var(--bg-gradient);
}

/* Dark Mode */
body.dark-theme {
  background: linear-gradient(120deg, #1f1b2e, #2d333b 60%, #045A5C);
}

body.dark-theme .header { 
   background-color:#2d333b;
   border-bottom: 1px solid #2d333b;
}

body.dark-theme .sidebar { 
   background-color: #2d333b;
}

body.dark-theme .modal-content { 
    background-color: #2d333b;
    color: #ffffff;
    border: 1px solid #000000;
}

body.dark-theme .modal-header { 
    border-bottom: 1px solid #000000;
    background-color: #AE8CEB;
}

body.dark-theme .create-project-card { 
    background-color: #78808a;
    border: 1px solid #000000; 
    color: #000000;
}

body.dark-theme .create-project-card .plus {
    color: #000000;
}

body.dark-theme .create-project-card:hover {
    background-color: #62676d;
}

body.dark-theme .header .header-icon {
    color: #67BA99;
}
body.dark-theme .header .title {
    color: #7D64AC;
}

body.dark-theme .header .search-input { 
   background-color: #2d333b;
}

body.dark-theme ::placeholder {
  color: #000000; 
}

body.dark-theme .form-select { 
  background-color: #22272e;
  color: #c5c8c9;
  border: 1px solid #444c56;
}

.sidebar-item:hover {
  color: #8474A1;
}

@font-face {
  font-family: 'Sanchez';
  src: url('/fonts/Sanchez/Sanchez-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}