.sidebar {
  width: 60px;
  transition: width 0.3s ease;
  background-color: #fff; 
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0;
}

.sidebar.expanded { 
  width: 220px;
}

.sidebar-menu{
    padding-top: 10rem;
}   

.sidebar-menu, .sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.sidebar-item {
  color: #6c3d9c;
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: flex-start;
  transition: background 0.2s, color 0.2s;
  border-radius: 12px;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #4b2773;
}

.sidebar-icon {
  font-size: 2rem;
  margin-right: 1rem;
  min-width: 24px;
  text-align: center;
  margin-top: 0.2rem;
}

.sidebar-label {
  font-size: 1.8rem;
  white-space: nowrap;
}
